.inputWrapper {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
    color:#3c3e3c
  }

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
}
